:root {
    --color-bg: black;
    --color-text-main: white;
    --color-primary: white;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: var(--color-bg);
    color: white;
    overflow-x: hidden;
  }
  
  .title{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 10vw;
    animation: fadeIn 2s ease-in forwards; 
  }
  
  .fade-out {
    opacity: 1;
    animation: fadeOut 1s ease-out forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1; 
    }
    to {
      opacity: 0;
    }
  }
  
  /* #landing-page.hidden {
    opacity: 0;
    pointer-events: none;
  } */
  
  /* Hide the homepage container initially */
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
  }
  
  #homepage{
    opacity: 0;
    pointer-events: auto;
  }
  
  #typesetting-page{
    opacity: 0;
    pointer-events: auto;
  }
  
  #goal-page{
    opacity: 0;
    pointer-events: auto;
  }
  
  /* Style the animation container */
  #landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .topRow{
    position: absolute;
    top: 2vh; 
    padding-left:2vw;
    padding-right:2vw;
    left: 50%;
    display:flex;
    flex-direction: row;
    transform: translateX(-50%);
    width: 98%;
    justify-content: space-between;
  }
  
  .topRow div:hover, .bottomRow div:hover{
    cursor:pointer  
  }
  
  .bottomRow{
    position: absolute;
    bottom: 2vh; 
    padding-left:2vw;
    padding-right:2vw;
    display:flex; 
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    justify-content: space-between;
  }
  
  .top1 {  
      animation: floating 3s ease-in-out infinite;
  }
  
  .top2 {  
      animation: floating 3s ease-in-out infinite 1s;
  }
  
  .top3 {  
      animation: floating 3s ease-in-out infinite 0.6s;
  }
  
  .bottom1 {  
      animation: floating 3s ease-in-out infinite 0.6s;
  }
  
  .bottom2 {  
      animation: floating 3s ease-in-out infinite ;
  }
  
  .bottom3 {  
      animation: floating 3s ease-in-out infinite 1s;
  }
  
  @keyframes floating {
      0% { transform: translate(0,  0px); }
      20% { transform: translate(0px, 6px); }
      50%  { transform: translate(2px, 0px); }
      70% { transform: translate(0, 6px); }
      100%   { transform: translate(0, -0px); }    
  }
  
  /*text effect*/
  @keyframes blurEffect {
      0% {
          filter: blur(0); 
      }
      5% {
          filter: blur(1); 
      }
      15% {
        filter: blur(2px); 
      }
      25% {
        filter: blur(1px); 
      }
      50% {
        filter: blur(3px); 
      }
      65% {
        filter: blur(1px); 
      }
      70% {
        filter: blur(0.5px); 
      }
      100% {
          filter: blur(0);
      }
  }
  
  span.typing {
    animation: blurEffect 10s infinite; /* Adjust duration and other properties as needed */
  }
  