@font-face{
    font-family: 'diatype';
    src: url('/fonts/ABCDiatypeMonoVariable-Trial.woff2') format('woff2-variations');
    font-weight: 200 700;
    font-display: swap;
}
@font-face {
  font-family: 'synt';
  src: url('/fonts/abcsynt-regularitalic-trial-webfont.woff2') format('woff2'),
       url('/fonts/abcsynt-regularitalic-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montreal';
  src: url('/fonts/ppneuemontreal-book-webfont.woff2') format('woff2'),
       url('/fonts/ppneuemontreal-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'editorial';
  src: url('/fonts/ppeditorialold-italic-webfont.woff2') format('woff2'),
       url('/fonts/ppeditorialold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pixel';
  src: url('/fonts/ArgentPixelCF-Italic.woff2') format('woff2'),
       url('/fonts/ArgentPixelCF-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --color-bg: black;
    --color-text-main: white;
    --color-primary: white;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "diatype";
    --font-family-header: "diatype";
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: var(--color-bg);
    color: white;
  }
  
  /* .info{
    color:black;
    padding:3vh;
    overflow: hidden;
  }
   */
  .info-title{
    font-size:5vw;
    text-align:center;
    justify-content: center; 
   font-weight: 500;
   padding:3vw;
   color:black;
  }

  .phase-title{
    top:0;
    font-size:3vw;
    text-align:center;
    justify-content: center; 
    color:black;
  }

  .info-text {
    display: none;
    padding:5vw;
    font-family: 'helvetica';
    font-size: 3rem;
    color:black;
}

.rect {
  width: 100vw;
  height: 30vh;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;  
  overflow:none;
}

/* Class to show info-text when rectangle is expanded */
.rect.clicked .info-text {
    display: block;
    overflow-y: auto;          /* Allow scrolling if content is taller than the view */

}
  
  .title-container{
    width:100%;
    height:100%;
    overflow:none;
    text-align:left;
    
  }
  
  .title {
    position: absolute;
      bottom: 0;
      left: 0;
    animation: stretch 2s ease;
    transform-origin: left bottom; /* Anchor transformation to the left */
  
  }
  
  @keyframes stretch {
    0% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(19, 40);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    gap: 5vh; 
    display: none;
    overflow: visible
  }
  
  
  .container.visible {
    display: block; /* Show after the animation */
  }
  
  .rect.clicked {
    height: 100vh; /* Expand to full view height when clicked */
    overflow-y: auto;
  }
  
  .yellow{
    background-color:#F9FB00;
  }
  .cyan{
    background-color:#02FEFF;
  }
  .magenta{
    background-color:#FD00FB;
  }
  .green{
    background-color:#01FF00;
  }
  
  /*text effect*/
  @keyframes blurEffect {
      0% {
          filter: blur(0); 
      }
      5% {
          filter: blur(1); 
      }
      15% {
        filter: blur(2px); 
      }
      25% {
        filter: blur(1px); 
      }
      50% {
        filter: blur(3px); 
      }
      65% {
        filter: blur(1px); 
      }
      70% {
        filter: blur(0.5px); 
      }
      100% {
          filter: blur(0);
      }
  }
  
  span.typing {
    animation: blurEffect 10s infinite; /* Adjust duration and other properties as needed */
  }
  
