@font-face{
    font-family: 'diatype';
    src: url('/fonts/ABCDiatypeMonoVariable-Trial.woff2') format('woff2-variations');
    font-weight: 200 700;
    font-display: swap;
}

:root {
    --color-bg: black;
    --color-text-main: white;
    --color-primary: white;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "diatype";
    --font-family-header: "diatype";
  }
  
a {
    text-decoration: none;
    color:inherit;
}

  body {
    margin: 0;
    padding: 0;
    font-family: "diatype";
    background-color: var(--color-bg);
    color: var(--color-text-main);
    overflow-x: hidden;
  }
  
  .title{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 10vw;
    animation: fadeIn 2s ease-in forwards; 
  }
  
  .fade-out {
    opacity: 1;
    animation: fadeOut 1s ease-out forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1; 
    }
    to {
      opacity: 0;
    }
  }
  

  /* Hide the homepage container initially */
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
  }
  
  #homepage{
    opacity: 0;
    pointer-events: auto;
  }
  
  /* Style the animation container */
  #landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .topRow{
    position: absolute;
    top: 2vh; 
    padding-left:2vw;
    padding-right:2vw;
    left: 50%;
    display:flex;
    flex-direction: row;
    transform: translateX(-50%);
    width: 98%;
    justify-content: space-between;
  }
  
  .topRow div:hover, .bottomRow div:hover{
    cursor:pointer  
  }
  
  .bottomRow{
    position: absolute;
    bottom: 2vh; 
    padding-left:2vw;
    padding-right:2vw;
    display:flex; 
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    justify-content: space-between;
  }
  
  .top1 {  
      animation: floating 3s ease-in-out infinite;
  }
  
  .top2 {  
      animation: floating 3s ease-in-out infinite 1s;
  }
  
  .top3 {  
      animation: floating 3s ease-in-out infinite 0.6s;
  }
  
  .bottom1 {  
      animation: floating 3s ease-in-out infinite 0.6s;
  }
  
  .bottom2 {  
      animation: floating 3s ease-in-out infinite ;
  }
  
  .bottom3 {  
      animation: floating 3s ease-in-out infinite 1s;
  }
  
  @keyframes floating {
      0% { transform: translate(0,  0px); }
      20% { transform: translate(0px, 1.5px); }
      50%  { transform: translate(0.5px, 0px); }
      70% { transform: translate(0, 1.5px); }
      100%   { transform: translate(0, 0px); }    
  }